:root {
    --primary-color: #212b5a;
    --second-color: #dda537;
}

.card-header {
    background-color: var(--primary-color);
}

.thead-bg {
    background-color: var(--second-color) !important;
    color: white;
}

.card {
    height: fit-content;
}
.card:hover {
    transform: none !important;
}
.card-body {
    height: fit-content !important;
}

.vert-center {
    vertical-align: middle;
}