:root {
    --primary-color: #212b5a;
    --second-color: #dda537;
}

.card-header {
    background-color: var(--primary-color);
}

.card {
    height: fit-content;
}

.card:hover {
    transform: none !important;
}