:root {
    --primary-color: #212b5a;
    --second-color: #dda537;
}

.card-header {
    background-color: var(--primary-color);
}

.thead-bg {
    background-color: var(--second-color) !important;
    color: white;
}

.card {
    height: fit-content;
}
.card:hover {
    transform: none !important;
}
select{
    border: 1px solid var(--primary-color) !important;
    border-radius: 10px;
    width: 400px !important;
}
.select-flex {
    display: flex;
    gap: 10px;
}
.table {
    display: none;
}
.btn-success{
    background-color: var(--second-color);
    border: none;
}

.btn-success:hover {
    background-color: var(--second-color);
}

select:focus {

    box-shadow: none !important;
}
