.card {
    height: 77vh;
}
.card:hover {
    transform: none !important;
}
.card-header {
    background-color: var(--primary-color) !important;
}

.save-profile {

background-color: var(--primary-color) !important;
color: white;
}

