.card {
    height: fit-content;
}
.card:hover {
    transform: none !important;
}
.card-header {
    background-color: var(--primary-color) !important;
}

.save-profile {

background-color: var(--primary-color) !important;
color: white;
}

.save-profile:hover {
    color: white;
}
.profile-hide {
    display: none;
}

