:root {
    --primary-color: #212b5a;
    --second-color: #dda537;
}

.card-header {
    background-color: var(--primary-color);
}

.card {
    height: fit-content;
}

.card:hover {
    transform: none !important;
}
.table {
    display: none;
}
.save {
    border: none;
    background-color: var(--primary-color) !important;
    color: white;
    display: none;
}

.save:hover {
    color: white;
}

select{
    border: 1px solid var(--primary-color) !important;
    border-radius: 10px;
    width: 400px !important;
}
.select-flex {
    display: flex;
    gap: 10px;
}

.btn-success{
    background-color: var(--second-color) !important;
    border: none;
}

.btn-success:hover {
    background-color: var(--second-color);
}

select:focus {
    box-shadow: none !important;
}